.home-page-c {
  height: 100vh;
  background: linear-gradient(rgb(94, 94, 214), rgb(43, 43, 183));
  justify-content: center;
   .home-title {
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: 'DanaYad','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
}
