//FONTS

@font-face {
    font-family: 'DanaYad';
    src: url(../../fonts/DanaYadAlefAlefAlef-Normal.woff);
}
@font-face {
    font-family: 'Gan';
    src: url(../../fonts/ganclm_bold-webfont.woff);
}
@font-face {
    font-family: 'Miri';
    src: url(../../fonts/miriwin-webfont.woff);
}
